# Flutter
.dart_tool/
.packages
.pub/
build/
ios/.generated/
packages
.flutter-plugins
.flutter-plugins-dependencies

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
env/
ENV/

# VS Code
.vscode/

# Environment
.env

# OS
.DS_Store
Thumbs.db
